NETBIRD_MGMT_API_ENDPOINT=
NETBIRD_MGMT_GRPC_API_ENDPOINT=
AUTH_AUDIENCE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_AUTHORITY=
USE_AUTH0=false
AUTH_SUPPORTED_SCOPES=openid profile email
AUTH_REDIRECT_URI=/auth
AUTH_SILENT_REDIRECT_URI=/silent-auth
NETBIRD_TOKEN_SOURCE=
